<md-content>
    <md-toolbar layout="row" layout-align="center">
      <h1 class="md-toolbar-tools">
        GameChest  
      </h1>
      <md-button class="button left">
        <span class="glyphicon glyphicon-user"></span>
        MI PANEL
      </md-button>
      <md-button class="button left">
        <span class="glyphicon glyphicon-info-sign"></span>
        About
      </md-button> 
      <md-button style="float:right" ng-click="logout()" ng-show="showLogout()">
        <span class="glyphicon glyphicon-off"></span>
        Logout
      </md-button>
    </md-toolbar>
</md-content>

{{LoginService.getUser()}}
<div ui-view></div>
