<md-content>
<div ui-view>
  <div class="container">
      <div class="row" style="margin-top:5px">
        <div class="col">
        <form role="form" name="form">
          <fieldset >
                        <br/>
                        
             <div class="column">
                <div class="row-md-12">
                      <button class="btn btn-lg btn-warning pull-right" ng-click="addGame()" value="Acceder">
                      <span class="glyphicon glyphicon-plus"></span>  Añadir Juego
                      </button>
                </div>     
                <br><br><br>
                <div class="row-md-12">  
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Jugando</a></li>
                    <li role="presentation"><a href="#">Completado</a></li>
                    <li role="presentation"><a href="#">Quiero Jugarlo</a></li>
                    <li role="presentation"><a href="#">No clasificado</a></li>
                  </ul>
                </div>  
                <br>
                <div class="row-md-12">         
                    <!--Buscador Juegos Usuario-->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group ">
                            <input type="text" class="form-control" ng-model="buscador" placeholder="Buscar Juego">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>  
                <br>
              </div> 
              
              <!--Taula de Mongojumbotron-->
              <!--Heador Jumbotron-->
              <ol ng-repeat="game in games | filter: buscador" style="list-style-type:none">
                <li>
                  <div class="jumbotron" style="padding-top: 5pt; padding-bottom: 5pt; padding-right: 10pt; padding-left: 10pt;">
                  
                  
                      <div class='row'>
                        <div class='col-md-10'>
                          <p style="font-size:180%;">{{game.name}}<p>
                        </div>
                        <div class='col-md-2'>
                          <a class="btn btn-primary btn-lg pull-right"  href="#" role="button">
                          <span class=" glyphicon glyphicon-floppy-disk"></span>  Guardar</a>
                        </div>
                      </div><br>
                    

                      <!--Llista dels atributs-->
                      <ol ng-repeat="(attrib, val) in game" style="list-style-type:none">
                        <li>
                            <div class='row' ng-hide='attrib==="name"'>
                              <div class='col-md-3'>
                                <p style="font-size:140%;">{{campNames[attrib]}}<p>
                              </div>
                              <div class='col-md-9'>
                                <input type="text" style="font-size:140%;"  class="form-control pull-right" ng-model="game[attrib]" placeholder={{campNames[attrib]}} required/>
                              </div>
                            </div>
                        </li>
                      </ol>
                     
                  
                  
                  </div>
                </li>
              </ol>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</md-content>
