<md-content>
<div ui-view>
  <div class="container">
      <div class="row" style="margin-top:5px">
        <div class="col">
        <form role="form" name="form">
          <fieldset >
                        <br/>
                        
             <div class="column">
                <div class="row-md-12">
                      <button class="btn btn-lg btn-warning pull-right" ng-click="addGame()" value="Acceder">
                      <span class="glyphicon glyphicon-plus"></span>  Añadir Juego
                      </button>
                </div>     
                <br><br><br>
                <div class="row-md-12">  
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Jugando</a></li>
                    <li role="presentation"><a href="#">Completado</a></li>
                    <li role="presentation"><a href="#">Quiero Jugarlo</a></li>
                    <li role="presentation"><a href="#">No clasificado</a></li>
                  </ul>
                </div>  
                <br>
                <div class="row-md-12">         
                    <!--Buscador Juegos Usuario-->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group ">
                            <input type="text" class="form-control" ng-model="buscador" placeholder="Buscar Juego">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>  
                <br>
              </div> 
              
              <!--Taula de Mongojumbotron-->
              <ol ng-repeat="game in games | filter: buscador" style="list-style-type:none">
                <li>
                  <div class="jumbotron" style="padding-top: 5pt; padding-bottom: 5pt;">
                    <h2>{{game.name}}<h2>
                      <!--Llista dels atributs-->
                      <ol ng-repeat="(attrib, val) in game" style="list-style-type:none">
                        <li>
                            <div class='row'>
                              <div class='col-md-2'>
                                <p style="font-size:70%;">{{campNames[attrib]}}<p>
                              </div>
                              <div class='col-md-10'>
                                <input type="text" style="font-size:70%;"  class="form-control pull-right" ng-model="game[attrib]" placeholder={{campNames[attrib]}} required/>
                              </div>
                            </div>
                        </li>
                      <ol>
                      
                    
                    <!--<p>Es un juego de cosas</p>
                    <p ng-hide="!show">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi imperdiet mauris dui, at rutrum lacus vestibulum at. Aliquam vitae ultrices eros. Ut id venenatis lacus. In tellus sem, tincidunt in malesuada non, dignissim ac risus. Praesent feugiat blandit quam non consectetur. Ut tristique nunc dolor, nec consequat neque consectetur eu. Nam imperdiet augue eget porta sagittis. Proin in lacinia massa. Nulla ac maximus lacus, sit amet pellentesque nulla. Mauris imperdiet massa eu dui consequat porta. Phasellus varius turpis id arcu dictum lobortis. Pellentesque velit ipsum, faucibus non massa feugiat, eleifend luctus magna. Morbi hendrerit, sapien quis aliquet rutrum, sapien arcu tempus turpis, dignissim fermentum quam purus in nisl. Pellentesque mi sem, suscipit tincidunt posuere imperdiet, commodo sed leo. Nulla mollis eleifend laoreet. Fusce vitae feugiat urna. 
                    <p><a class="btn btn-primary btn-lg" ng-click="show = !show" href="#" role="button">Learn more</a></p>
                  -->
                  
                  </div>
                </li>
              <ol>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</md-content>
