<md-content>
<div ui-view>
  <div class="container">
      <div class="row" style="margin-top:20px">
        <div class="col">
        <form role="form" name="form">
          <fieldset>
                        <br/>
                        
             <div class="column">
                <div class="row-md-12">
                      <button class="btn btn-lg btn-warning pull-right" ng-click="addGame()" value="Acceder">
                      <span class="glyphicon glyphicon-plus"></span>  Añadir Juego
                      </button>
                </div>     
                <br><br><br>
                <div class="row-md-12">  
                  <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#">Jugando</a></li>
                    <li role="presentation"><a href="#">Completado</a></li>
                    <li role="presentation"><a href="#">Quiero Jugarlo</a></li>
                    <li role="presentation"><a href="#">No clasificado</a></li>
                  </ul>
                </div>  
                <br>
                <div class="row-md-12">         
                    <!--Buscador Juegos Usuario-->
                    <form class="navbar-form navbar-left" role="search">
                        <div class="input-group ">
                            <input type="text" class="form-control" ng-model="buscador" placeholder="Buscar Juego">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-info">
                                <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>  
                <br><br><br>
              </div> 
              
              <!--Taula de Cards-->
              <div class="card">
  <img class="card-img-top" data-src="..." alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
</md-content>
